* {
  margin: 0;
  padding: 0;
}
#header {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #FFFFFF;
  font-family: 'Cabin Sketch', cursive;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  ffont-family: 'Cabin Sketch', cursive;
}

nav li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  float: center;
  font-size: 28px;
  font-family: 'Cabin Sketch', cursive;
}

nav a {
  text-decoration: none;
  color: #52C5FF;
  font-family: 'Cabin Sketch', cursive;
}

nav a:hover {
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
  color: black;
}

#logo {
  float: center;
  background: #D8D8D8;
  color: red;
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
}

h1 {
font-family: 'Cabin Sketch', cursive;
font-size: 60px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

body {
   background-color: #276cd6;
 }

 h2 {
   font-family: 'Cabin Sketch', cursive;
   font-size: 30px;
   letter-spacing: 1px;
   word-spacing: 1px;
   color: #FFFFFF;
   font-weight: 350;
   text-decoration: none;
   font-style: normal;
   font-variant: normal;
   text-transform: uppercase;
 }
