* {
  margin: 0;
  padding: 0;
}
#header {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #FFFFFF;
  font-family: 'Cabin Sketch', cursive;
  color: red;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: 'Cabin Sketch', cursive;
}

nav li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  float: center;
  font-size: 28px;
  font-family: 'Cabin Sketch', cursive;
}

nav a {
  text-decoration: none;
  color: #52C5FF;
  font-family: 'Cabin Sketch', cursive;
}

nav a:hover {
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
  color: black;
}

#logo {
  float: center;
  background: #D8D8D8;
  color: red;;
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
}

h1 {
font-family: 'Cabin Sketch', cursive;
font-size: 60px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

h2 {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  font-family: 'Cabin Sketch', cursive;
}

body {
  background-color: #276cd6;
  text-align: center;
}

table {
  text-align: center;
  border-spacing: 20px;
  border: 3px solid lightgreen;
  border-radius: 25px;
  width: 60%;
}

#firstInput, #secondInput {
  text-align: center;
  border-radius: 5px;
  padding: 3px 20px;
  width: 180px;
  height: 20px;
  background-color: lightgrey;
  border-color: #52C5FF;
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  font-family: sans-serif;
  outline-color: red;
}

#firstDropdown, #secondDropdown {
  text-align-last: center;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  background-color: lightgrey;
  border-color: #52C5FF;
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  font-family: sans-serif;
}

#arrow {
  font-size: 30px;
  color: lightgreen;
}

#equals {
  font-size: 30px;
  color: lightgreen
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 30px;
  font-family: 'Cabin Sketch', cursive;
  cursor: pointer;
  box-shadow: 0 8px black;
  outline: none;
}

button:hover {
  border-color: green;
  font-weight: 400;
  box-shadow: 0 8px green;
}

button:active {
  background-color: lightgrey;
  border-color: green;
  box-shadow: 0 5px green;
  transform: translateY(4px);
}
